# Uploading the client file and model

# Client File Analysis

In [1]:
import pandas as pd
df=pd.read_csv('/content/eachanariclient.csv')
df

   area  bedroom  age
0  2600        3    9
1  3000        2    5
2  3500        3    6
3  3000        2    8
4  3600        5    6
5  4000        3   11
6  4500        2    2
7  5000        4    7

# Activating the ML Model

In [3]:
import pickle
with open('/content/eachanarimultimodel','rb') as f:
  reg=pickle.load(f)

In [4]:
reg.predict([[1800,3,5]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([22097728.33198114])

In [6]:
price_client=reg.predict(df)
df['price']=price_client
df

   area  bedroom  age         price
0  2600        3    9  3.000551e+07
1  3000        2    5  2.450786e+07
2  3500        3    6  3.728964e+07
3  3000        2    8  2.515271e+07
4  3600        5    6  5.449433e+07
5  4000        3   11  4.276938e+07
6  4500        2    2  3.707798e+07
7  5000        4    7  5.888141e+07

In [7]:
df.to_csv('eachanariclientoutput.csv',index=False)