# uploading the client file and model

#Client file Analysis

In [3]:
import pandas as pd
df=pd.read_csv('/content/client file.csv')
df

    area
0   2050
1   3500
2   3000
3   3200
4   4000
5   4200
6   4500
7   3800
8   3600
9   5000
10  4800
11  5200
12  5500

#Activate the ML Model

In [2]:
#we have to activate the ML model
import pickle
with open('/content/eachanarimodel','rb') as f:
  reg=pickle.load(f)

In [4]:
reg.predict([[1800]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([17295180.72289157])

In [6]:
price_cli=reg.predict(df)

In [12]:
df['price']=price_cli
df

    area         price
0   2050  2.146235e+07
1   3500  4.563193e+07
2   3000  3.729759e+07
3   3200  4.063133e+07
4   4000  5.396627e+07
5   4200  5.730000e+07
6   4500  6.230060e+07
7   3800  5.063253e+07
8   3600  4.729880e+07
9   5000  7.063494e+07
10  4800  6.730120e+07
11  5200  7.396867e+07
12  5500  7.896928e+07

In [13]:
df.to_csv('clientoutput.csv',index=False)