In [1]:
import pickle 
import pandas as pd
with open('/content/markpredictionmodel','rb') as f:
  reg=pickle.load(f)

In [2]:
df=pd.read_csv('/content/MarksPredClient.csv')
df

   cia1  cia2  cia3
0    95    90    92
1    65    86    90
2    55    82    86
3    84    73    89
4    86    71    96
5    66    86    94
6    77    94    76
7    36    93    76
8    76    76    86
9    82    81    76

In [3]:
reg.predict(df)

array([93.26727051, 80.6653675 , 74.78554103, 83.87686978, 86.12422764,
       82.19957768, 83.07354962, 67.83076563, 80.8708613 , 81.46270989])

In [4]:
pred=reg.predict(df)

In [5]:
df['Finalmarks']=pred
df

   cia1  cia2  cia3  Finalmarks
0    95    90    92   93.267271
1    65    86    90   80.665368
2    55    82    86   74.785541
3    84    73    89   83.876870
4    86    71    96   86.124228
5    66    86    94   82.199578
6    77    94    76   83.073550
7    36    93    76   67.830766
8    76    76    86   80.870861
9    82    81    76   81.462710

In [6]:
df.to_csv('markprediction.csv', index=False)